<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="home" type="ClimateController.Configuration.HomeSection, ClimateController" />
  </configSections>
  <home>
    <log level="" />
    <server port="" />
    <control tick="" />
    <valve address="" port="" />
    <levels>
      <level kind="">
        <manifold address="" port="" />
        <pump index="" />
      </level>
    </levels>
    <rooms>
      <room name="" level="">
        <sensor address="" />
        <loop index="" />
      </room>
    </rooms>
  </home>
</configuration>